*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #249393;
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.head-nav{
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    display: flex;
}

.head-nav a{
    color: white;
    text-decoration: none;
}

.head-nav li{
    margin-left: 20px;
}

header{
    background-color: #21AAAA;
    height: 117px;
}